/***영문폰트***/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/***한글폰트***/
@font-face { font-family: 'NeoDunggeunmo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'UhBeemysen'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
/**********************************************/
*{margin: 0; padding: 0;}
ul, li,a{list-style: none;text-decoration: none; color: #333;}
h1,h2,h3,h4,h5{font-family: UhBeemysen;}
button:focus{
	outline: none;
}
body{
	font-family: GmarketSansMedium;
	font-size: 14px;
	color: #333;
	position: absolute;
	width: 100%;
	height: 100%;
}
.blind{
	font-size: 0;
}
/**********************************************/
header{
	position: fixed;
	/*position: absolute;*/
	/*top: -9999px;*/
	width: 100%;
	height: 86px;
	min-width: 1024px;
	background-color: #FFE18F;
	z-index: 10;
	transition: .2s;
}
#gnb{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	width: 652px;
	margin: 0 auto;
}
#gnb ul{
	display: flex;
}
#gnb li{
	flex: 1;
	font: 24px NeoDunggeunmo;
	/*font-size: 16px;*/
	/*font-weight: bold;*/
	letter-spacing: 1.2px;
}
#gnb li.on a{
	color: #9869FF;
}
#gnb li > a{

}
.nameOnTop{
	position: relative;
	/*position: fixed;*/
	width: 216px;
	margin-left: 40px;
}
.nameOnTop > h2{
    display: inline-block;
    font-family: NeoDunggeunmo;
    margin-top: 8px;
}
.nameOnTop span{
    display: inline-block;
    position: absolute;
    top: -21px;
    margin-left: 14px;
    width: 74px;
    height: 74px;
    border-radius: 37px;
    background: url(../images/profilePic.jpeg) no-repeat center;
    background-size: 100%;
    overflow: hidden;
}
article{
	position: relative;
	width: 100%;
	height: 700px;
	/*max-height: 1080px;*/
	overflow: hidden;
}
.appear{
	opacity: 1 !important;
}
#article1{
	/*margin-top: 86px;*/
	background: url(../images/article_bg1.jpg) no-repeat center 86px;
	background-size: cover;
}
.article1_box{
	position: relative;
	top: 45%;
	transform: translateY(-45%);
	text-align: center;
}
.article1_box h1{
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	text-shadow: 2px 2px 6px #111;
}
.article1_box p{
	margin: 104px 0 22px;
    font-size: 17px;
    line-height: 1.8;
}
.article1_box strong{
	font-size: 12px;
}
#article1 span{
	display: inline-block;
	position: absolute;
	bottom: 40px;
	margin: 0 auto;
	cursor: pointer;
	left: 50%;
	transform: translateX(-50%);
	transform-origin: bottom;
	animation: moving 1.4s;
	animation-iteration-count: infinite;
}
@keyframes moving{
	/*0%{bottom: 40px;}
	50%{bottom: 34px;}
	100%{bottom: 40px;}*/
	0%{transform: rotate(-10deg);}
	50%{transform: rotate(10deg);}
	100%{transform: rotate(-10deg);}
}
/*****두번째 문단 시작*/
#article2{
	background: url(../images/bg.jpg) no-repeat center;
	background-size: cover;
}
/***h1 공통 스타일링*/
#article2 h1,#article3 h1,#article4 h1,#article5 h1{
	display: inline-block;
	margin: 110px 0 0 150px;
	font-size: 34px;
	color: #000;
}
#article2 #intro{
	position: absolute;
	width: 940px;
	height: 540px;
	top: 50%;
	left: 40%;
    transform: translate(-50%,-40%);
}
#article2 #intro > span.myPic{
	display: block;
	width: 360px;
	height: 360px;
	float: left;
	margin-top: 58px;
	border-radius: 180px;
	background: url(../images/profilePic2.jpeg) no-repeat center;
	background-size: cover;
	transition: 0.4s;
	opacity: 0;
}
#intro:hover span.myPic{
	/*opacity: 0.8;*/
}
#article2 .intro_dept{
	/*float: right;*/
	text-indent: 58px;
	padding-top: 58px;
	/*position: relative;*/
	/*top: -9999px;*/

}
.intro_dept > h2{
	opacity: 0;
	font-size: 28px;
	margin-bottom: 40px;
}
.intro_dept > h2 > span{
	display: block;
}
.intro_dept .career{
	line-height: 2;	
	opacity: 0;
}
.intro_dept footer.hashtag{
	font-size: 18px;
	margin-top: 14px;
	position: relative;
	left: -9999px;
	/*font-weight: normal !important;*/
}
.intro_dept footer.hashtag > strong{
	/*font-weight: normal;*/
}
/*****세번째 문단 시작*/
#article3{
	background: url(../images/bg2.jpg) no-repeat center;
	background-size: cover;
}
.row{
	width: 960px;
	margin: 0 auto;
	margin-top: 12px;
	position: relative;
}
.col-md-3{
	position: relative;
	width: 320px;
	/****************/
	height: 364px;
	float: left;
}
.row:after{
	content: "";
	display: block;
	clear: both;
}
canvas{
	display: inline-block;
	vertical-align: baseline;
}
.row_ul{
	position: absolute;
	width: 100%;
	display: flex;
}
.row_ul1{
    margin-top: 270px;
}
.row_ul2{
	/*border: 1px solid blue;*/
    bottom: -26px;
}
.row_ul > li{
	flex: 1;
	padding: 0 12px;
	padding-left: 54px;
}
.row_ul > li:hover{
	font-weight: bold;
}
.row_ul ul > li:before{
	content:"•";
	display: inline-block;
	font-size: 18px;
	margin-right: 10px;
}
.col-md-3:before{
    display: block;
    font-size: 22px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10px;
}
.col-md-3:nth-child(1):before{
	content: "HTML";
}
.col-md-3:nth-child(2):before{
	content: "CSS";
}
.col-md-3:nth-child(3):before{
	content: "JavaScript";
}
.col-md-3:nth-child(4):before{
	content: "jQuery";
}
.col-md-3:nth-child(5):before{
	content: "Photoshop&Illustrator";
}
.col-md-3:nth-child(6):before{
	content: "OA";
}
.col-md-3:nth-child(4),.col-md-3:nth-child(5),.col-md-3:nth-child(6){
	margin-top: 52px;
}
/****네번째 문단 시작*/
#article4{
	background: url(../images/article_bg1.jpg) no-repeat center 86px;
	background-size: cover;
}
#article4 section > h2{
	font-family: GmarketSansMedium;
    margin-bottom: 23px;
    /* display: block; */
    font-size: 22px;
    position: relative;
    /* text-shadow: -3px -3px 2px #969696; */
    letter-spacing: 0.4px;
}
#article4 section > h2 > button{
    border: none;
    background-color: #fff7e3;
    padding-right: 26px;
    margin-left: 16px;
}
#article4 section > h2 > button > a:after{
	content: "";
	display: block;
	position: absolute;
    right: -12px;
    top: 11px;
    width: 14px;
    height: 14px;
    background: url(../images/arrow.png) no-repeat;
    background-size: 14px;
}
#article4 section > h2 > button > a{
    padding: 10px;
	position: relative;
    color: #222;
    display: block;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: -0.2px;
}
#article4 section > h2:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 12px;
	height: 3px;
	background-color: #B3701D;
}
/*#article4 .h1_p{
	position: relative;
	left: 150px;
	margin-top: 28px;
}*/
.explain_Box{
	position: relative;
	left: 150px;
	margin-top: 58px;
	transition: .3s;
}
.explain_Box section{
	position: absolute;
	width: 538px;
	padding-left: 24px;
	display: none;
}
.explain_Box section.on{
	display: block;
}
.explain_Box section > ul > li{
	/*font-size: 12px;*/
}
.explain_Box section > ul > li:before, .moodboard > h3:before{
	content: "●";
	display: block;
	font-size: 12px;
	position: absolute;
	left: 0;
}
.moodboard > h3{
	font-size: 14px;
	font-family: Roboto;
	margin: 20px 0 10px 0;
	/*position: relative;*/
}
.moodboard1 > span{
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #e6001a;
	margin-right: 20px;
}
.moodboard1 > span+span+span{
	background-color: #f3f3f3;
}
.moodboard1 > span+span{
	background-color: #fff6f6;
}
.moodboard2 > ul > li >img{

}
.moodboard3 .concept_img{
	display: inline-block;
	margin-right: 20px;
	/*float: left;*/
}
.moodboard3 .concept_img:last-child{
	/*border: 1px solid blue;*/
	margin-right: 0;

}
/***두번째 섹션*/
.explain2 .moodboard1 > span{
	background-color: #ecc97e;
}
.explain2 .moodboard1 > span+span{
	background-color: #9d7c33;
}
.explain2 .moodboard1 > span+span+span{
	background-color: #555;
}
/***세번째 섹션*/
.explain3 .moodboard1 > span{
	background-color: #c5baa7;
}
.explain3 .moodboard1 > span+span{
	background-color: #b39e8a;
}
.explain3 .moodboard1 > span+span+span{
	background-color: #6a5d5e;
}
/***네번째 섹션*/
.explain4 .moodboard1 > span{
	background-color: #eee;
}
.explain4 .moodboard1 > span+span{
	background-color: #b39e8a;
}
.explain4 .moodboard1 > span+span+span{
	background-color: #33ABE3;
}
#main{
	/*background:#333;
	width:100%;
	height:100%;
	position:fixed;
	padding-top:150px;*/
    /*height: 100%;*/
    height: 626px;
    position: relative;
    /*top: -100px;*/
    padding-top: 0; 
    margin-right: 140px;
    /*right: 102px;*/
    width: 546px;
    float: right;
    background-color: transparent;
}
#content,#gallery_img{
	/*position: absolute;*/
	width: 546px;
}
.gallery_img_style{
	width: 546px;
	height: 414px;
}
.thumbs_style img{
	margin-right: 30px;
	cursor: pointer;
}
/******/
#play{
	/*display:none;*/
	/******/
	/*cursor: pointer;*/
}
/*다섯번째문단 시작*/
#article5{
	background: url(../images/bg2.jpg) no-repeat center 86px;
	background-size: cover;
}
#article5 .h3_p{
	text-align: center;
	font-size: 24px;
	margin: 0 auto;
	position: relative;
	width: 320px;
	opacity: 0;
}
#article5 .h3_p:after{
	content: "";
	display: block;
	position: absolute;
	width: 42px;
	height: 6px;
	background-color: #9869FF;
	/*text-align: center;*/
}
#article5 > p{
	margin: 42px auto;
	width: 520px;
	text-align: center;
	line-height: 1.8;
	opacity: 0;
}
.addressInfo{
	position: absolute;
	bottom: 22px;
	left: 50%;
	transform: translateX(-50%);
}
.addressInfo > div {
	cursor: pointer;
}
/*슬라이드*/
.work_papers{
	position: relative;
    margin: 0 auto;
    width: 500px;
    /*border: 1px solid blue;*/
    overflow-x: hidden;

}
/*.work_papers > span{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.8;
	padding: 0 10px;
	display: block;
	cursor: pointer;
	z-index: 10;
}
.work_papers > span:last-of-type{
	right: 0;
}
.work_papers > span:hover{
	opacity: 1;
}*/
/*.work_papers > ul {
	width: 2280px;
	position: relative;
	left: 0;
}
.work_papers > ul > li{
	float: left;
}*/
/*.work_papers > ul:after{
	content: "";display: block;clear: both;
}*/
.work_papers > ul > li > img{
	/*width: 420px;*/
}
/******/
.bx-wrapper{
	border: none;
}
.addressInfo > div{
	display: inline-block;
	margin-right: 42px;
	text-align: center;
}
.addressInfo > div:last-child{
	margin-right: 0;
}
.addressInfo > div > em{
	display: block;
}
/*푸터 시작*/
footer#footer {
	/*border: 1px solid lightpink;*/
	text-align: center;
	padding-bottom: 10px;
	font-size: 0.6em;
}
footer#footer  > em{
	font-style: normal;
	font-size: smaller;
	font-weight: bold;
}